.custom-breadcrumb {
  background-color: rgba(0, 0, 0, 0);

  .breadcrumb-item {
    font-family: jedi, fantasy;
    font-size: x-large;

    a {
      color: #FFEE58;
      text-decoration: none;
    }
  }
}
