.card {
border-style: none;
 margin-top: 1vh;
 margin-top: 1vh;
}

.category-title {
  position: absolute;
  bottom: 10%;
  padding-left: 1em;
  background-color: rgba(0,0,0,.4);
  width: 100%;
}

.red {
  color: #E53935;
}

.yellow {
  color: #FFEE58;
}

.orange {
  color: #F4511E;
}

.white {
  color: #FFF;
}

.blue {
  color: #90CAF9;
}

.jedi-font {
  font-family: jedi, arial;
  font-size: 1.2em;
}
