<nav>
  <ul (click)="pageNumberChanged($event)" class="pagination">
    <ng-container *ngIf="currentPage - 1 > 0">
      <li class="page-item">
        <a [queryParams]="{ page: currentPage - 1}" [routerLink]="['/' + resourceType]"
           class="page-link"><</a>
      </li>
    </ng-container>

    <ng-container *ngIf="totalPages > 1">
      <li *ngFor="let i of currentPages" class="page-item {{i === currentPage ? 'active': ''}}">
          <a [queryParams]="{ page: i}" [routerLink]="['/' + resourceType]"
            class="page-link">{{i}}</a>
      </li>
    </ng-container>

    <ng-container *ngIf="currentPage + 1 < totalPages">
      <li class="page-item">
        <a [queryParams]="{ page: currentPage + 1}" [routerLink]="['/' + resourceType]"
           class="page-link">></a>
      </li>
    </ng-container>

  </ul>
</nav>
