<div style="min-height: calc(100vh - 300px);">
  <div class="container">

    <div class="row">
      <div class="col-md">
        <app-category-card [color]="'red'" [cardName]="'characters'"></app-category-card>
      </div>
      <div class="col-md">
        <app-category-card [color]="'yellow'" [cardName]="'films'"></app-category-card>
      </div>
      <div class="col-md">
        <app-category-card [color]="'orange'" [cardName]="'species'"></app-category-card>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <app-category-card [color]="'white'" [cardName]="'starships'"></app-category-card>
      </div>
      <div class="col-md">
        <app-category-card [color]="'blue'" [cardName]="'vehicles'"></app-category-card>
      </div>
      <div class="col-md">
        <app-category-card [color]="'yellow'" [cardName]="'planets'"></app-category-card>
      </div>
    </div>
  </div>
</div>
