<div class="container-fluid">

  <div class="d-flex justify-between">
    <app-breadcrumb></app-breadcrumb>
    <app-paginator (pageNumberChange)="onPageNumberChanged($event)" [currentPage]="currentPage"
                   [resourceType]="resourceType" [totalPages]="totalPages"></app-paginator>
  </div>

  <div class="row row-cols-lg-5 row-cols-md-2 row-cols-1">
    <div *ngFor="let result of pageResults" class="col">
      <a routerLink="/{{resourceType}}/{{result.id}}">
        <app-resource-card itemId="{{result.id}}"
                           itemName="{{result.name}}"
                           resourceType="{{resourceType}}">
        </app-resource-card>
      </a>
    </div>
  </div>
</div>
