.card {
  border-style: none;
  margin-top: 1vh;
  margin-bottom: 1em;
  max-width: 400px;
}

.category-title {
  position: absolute;
  bottom: 10%;
  padding-left: 1em;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
}
