.resource-card {
  border-style: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.resource-title {
  position: absolute;
  bottom: 1%;
  padding-left: 1em;
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
}
