<div>

  <header>
    <div class="logo">
      <div>
        <a [routerLink]="'/'"
           style="text-decoration: none; color: #FFEE58; font-family: jedi;">star wars</a>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <div class="footer-content">
      <div class="copyright">
        COPIED BY <a href="https://google.com">DW</a> ©2019
      </div>
      <div class="find-me">
        <span class="follow">FOLLOW ME:</span>
        <a href="https://www.google.com"
        ><i class="mdi mdi-linkedin-box"></i> LinkedIn</a
        >
        <a href="https://google.com"
        ><i class="mdi mdi-github-box"></i> GitHub</a
        >
      </div>
      <div class="disclaimer">
        Star Wars and all associated names and/or images are copyright
        Lucasfilm Ltd. Images were freely collected from
        <a href="http://starwars.wikia.com/wiki/Main_Page">Wookiepedia</a>.
      </div>
    </div>
  </footer>
</div>
