<div>
  <header>
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col"></div>
        <a [routerLink]="'/login'"><em class="material-icons login-icon">account_circle</em></a>
      </div>
    </div>

    <div class="logo">
      <div>
        <a [routerLink]="'/'"
           style="text-decoration: none; color: #FFEE58; font-family: jedi,sans-serif;">star wars</a>
      </div>
    </div>
  </header>

  <app-breadcrumb></app-breadcrumb>
  <router-outlet></router-outlet>

  <footer>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6 copyright">
          Original app by Tim Sarvey <a href="https://starwars-visualguide.com">STARWARS-VISUALGUIDE</a>
        </div>
        <div class="col-6 find-me">
          <span class="follow">FOLLOW ME:</span>
          <a href="https://github.com/damianw345"><em class="mdi mdi-github-box"></em> GitHub</a>
        </div>
      </div>
      <div class="row disclaimer">
        <div class="col">
          Star Wars and all associated names and/or images are copyright
          Lucasfilm Ltd. Images were freely collected from
          <a href="http://starwars.wikia.com/wiki/Main_Page"> Wookiepedia</a>
        </div>
      </div>
    </div>
  </footer>
</div>
