<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-card [color]="'red'" [cardName]="'characters'"></app-card>
    </div>
    <div class="col-sm">
      <app-card [color]="'yellow'" [cardName]="'films'"></app-card>
    </div>
    <div class="col-sm">
      <app-card [color]="'orange'" [cardName]="'species'"></app-card>
    </div>
    <div class="col-sm">
      <app-card [color]="'white'" [cardName]="'starships'"></app-card>
    </div>
        <div class="col-sm">
      <app-card [color]="'blue'" [cardName]="'vehicles'"></app-card>
    </div>
        <div class="col-sm">
      <app-card [color]="'yellow'" [cardName]="'planets'"></app-card>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
