<div class="wrapper">
  <mat-card class="transparent-background">
    <mat-card-content>
      <form [formGroup]="loginForm">
        <article class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <mat-form-field>
              <input formControlName="email"
                     matInput
                     placeholder="Email"
                     type="text">
            </mat-form-field>
          </div>
        </article>
        <article class="row justify-content-center">
          <div class="col-xl-3 col-lg-4 col-sm-6">
            <mat-form-field>
              <input formControlName="password"
                     matInput
                     placeholder="Password"
                     type="password">
            </mat-form-field>
          </div>
        </article>
        <div class="row justify-content-center pt-2">
          <div class="col-lg-2 col-md-3 col-sm-3">
            <button [disabled]="loginForm.invalid"
                    class="w-100 p-0"
                    mat-stroked-button
                    (click)="loginWithPassword()"
            >
              Login
            </button>
          </div>
        </div>
        <div class="row justify-content-center pt-2">
          <div class="col-lg-2 col-md-3 col-sm-3">
            <button (click)="register()"
                    [disabled]="loginForm.invalid"
                    mat-stroked-button
                    class="w-100 p-0"
            >
              Register
            </button>
          </div>
        </div>

        <div class="row justify-content-center pt-2">
          <div class="col-lg-2 col-md-3 col-sm-3">
            <a class="btn btn-social btn-facebook w-100"
               href="{{oAuthRedirectionUrlService.buildFacebookRedirectionUrl()}}">
              <span class="fab fa-facebook-square"></span>
              Sign in with Facebook
            </a>
          </div>
        </div>

        <div class="row justify-content-center pt-2">
          <div class="col-lg-2 col-md-3 col-sm-3">
            <a class="btn btn-social btn-google w-100"
               href="{{oAuthRedirectionUrlService.buildGoogleRedirectionUrl()}}">
              <span class="fab fa-google"></span>
              Sign in with Google
            </a>
          </div>
        </div>

        <div class="row justify-content-center pt-2">
          <div class="col-lg-2 col-md-3 col-sm-3">
            <!--              <a class="btn btn-social btn-github w-100" href="http://localhost:4200/api/oauth2/authorize/github?redirect_uri=http://localhost:4200/oauth2/callback">-->
            <a class="btn btn-social btn-github w-100"
               href="{{oAuthRedirectionUrlService.buildGithubRedirectionUrl()}}">
              <span class="fab fa-github"></span>
              Sign in with Github
            </a>
          </div>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
